html, body {
  overflow: hidden;
  font-family: "Century Gothic", Futura, sans-serif;
}

ol,
ul {
  margin-block: .1em;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 3em;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: .5rem;
  text-align: center;
}

.reverse {
  background-color: hsl(220, 60%, 80%);
  padding: .25em .5em;
  font-size: .5em;
  border-radius: .5em;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.reverse:hover,
.reverse:focus {
  background-color: hsl(220, 50%, 70%);
}

.nav {
  background-color: hsl(280, 70%, 90%);
  padding: .25em .5em;
  font-size: .45em;
  border-radius: .25em;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.square {
  background-color: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 1em;
  font-weight: bold;
  line-height: 2em;
  height: 2em;
  aspect-ratio: 1;
  margin: 2px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.square:focus {
  outline: none;
}

.highlight {
  background-color: #bbb;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: .75em;
  margin-left: 1.5em;
}
